<template>
	<section>
		<PageTitle :title="$t('error')"/>
		<div class="container my-4">
			<div class="alert alert-warning mb-4">{{$t('not-allowed-text')}}</div>
			<router-link class="btn btn-primary" :to="{ name: 'main-index' }">{{$t('to-home')}}</router-link>
		</div>

	</section>
</template>

<script>
	import PageTitle from 'Main/components/PageTitle.vue';

	export default {
		components: {PageTitle},
	}
</script>





<i18n>
{
	"de": {
		"error": "Fehler",
		"not-allowed-text": "Ihr Zugang ist leider nicht für diese Anwendung berechtigt. Falls Sie Interesse haben, nehmen Sie bitte Kontakt mit dem Administrator der Seite auf.",
		"to-home": "zur Startseite"
	},
	"en": {
		"error": "Error",
		"not-allowed-text": "Unfortunately, you are not authorized to use this application. If you are interested, please contact this site's administrator.",
		"to-home": "To the homepage"
	}
}
</i18n>