<template>
</template>

<script>

export default {
	name: 'privacy',
	mounted: function() {
		var url=this.$config.urlPrivacy;
		if (url) {
			this.$router.replace({name:'main-index'});
			location.replace(url);
		}
		else this.$router.replace({name:'main-text', params: {module:'main', file:'privacy'}});
	}
}
</script>


<i18n>
{
	"de": {},
	"en": {}
}
</i18n>
