<template>
	<div>
		<page-title :title="$t('forgot-password')" :subtitle="$t('forgot-password-info')"/>
		<div v-if="success" class="container">
			<div class="alert alert-info">{{$t('confirm-password-mail')}}</div>
		</div>
		<div v-if="!success" class="container mt-4">
			<warning-list v-if="warnings" v-on:close="warnings=''" :warnings="warnings"/>
			<div class="form-group row">
				<label class="col-md-4 col-form-label">{{$t('email-address')}}</label>
				<input class="col-md-8 form-control" v-model="email"
					:class="{'is-invalid':!$v(email,true,$consts.REGEX_EMAIL)}">
			</div>
			<hr>
			<div class="form-group row">
				<div class="col-md-4"><img :src="captchaImg"/></div>
				<label class="col-md-8">
					<span>{{$t('captcha-info')}}</span>
					<router-link :to="{name: 'main-imprint'}"> »&nbsp;{{$t('imprint')}}</router-link>
				</label>
				<label class="col-md-4 col-form-label">{{$t('captcha-text')}}</label>
				<input class="col-md-8 form-control required"  v-model="captchaText"
						:class="{'is-invalid':!$v(captchaText,true,$consts.REGEX_TEXT_100)}"/>
			</div>
			<button class="btn my-3 btn-primary mr-1" v-on:click="startReset()">{{$t('next')}}</button>
			<router-link class="btn my-3 btn-secondary" :to="{ name: 'main-login' }">{{$t('cancel')}}</router-link>
		</div>
	</div>
</template>
<script>
import PageTitle from "../../main/components/PageTitle.vue";
import WarningList from "../../main/components/WarningList.vue";

export default {
	components: {PageTitle, WarningList},
	data: function() {
		return {
			email:'',
			warnings:'',
			success:false,
			captchaImg:'',
			captchaTicket:'',
			captchaText:''
		}
	},
	mounted: function() {
		this.newCaptcha();
	},
	methods: {
		newCaptcha:  function() {
			this.$axios.get('main/captcha').then(response => {
				this.captchaTicket=response.data.ticket;
				this.captchaText='';
				var blob = new Blob([response.data.svg], {type: 'image/svg+xml'});
				var url = URL.createObjectURL(blob);
				this.captchaImg=url;
			})
		},
		startReset: function() {
			var data={
				email:this.email,
				captchaText:this.captchaText,
				captchaTicket:this.captchaTicket
			};
			this.$axios.post('main/reset-request', data).then(response => {
				if (response.data[0]) {
					this.warnings=response.data;
					this.newCaptcha();
				}
				else {
					this.warnings=false;
					this.success=true;
				}
			});
		},
	}
}
</script>





<i18n>
{
	"de": {
		"forgot-password": "Passwort vergessen",
		"forgot-password-info": "Geben Sie die E-Mail Adresse Ihres Accounts an um Informationen zum Zurücksetzen des Passworts zu erhalten.",
		"confirm-password-mail": "Bitte prüfen Sie Ihren Posteingang. Sofern die eingegebene E-Mail Adresse in diesem System existiert, erhalten Sie dort eine Nachricht mit Informationen zum Zurücksetzen.",
		"email-address": "E-Mail Adresse",
		"captcha-info": "Das Captcha enthält Zahlen, große und kleine Buchstaben. Falls Sie das Captcha nicht lesen können, senden Sie bitte eine E-Mail mit Ihrem Anliegen an die Impressum genannte Adresse.",
		"imprint": "Impressum",
		"captcha-text": "Captcha Text",
		"next": "Weiter",
		"cancel": "Abbrechen"
	},
	"en": {
		"forgot-password": "Forgot Password",
		"forgot-password-info": "To reset your password please enter your email address.",
		"confirm-password-mail": "Please check your inbox. If the entered e-mail address exists in this system, you will receive a message there with information on how to reset.",
		"email-address": "E-mail address",
		"captcha-info": "The captcha contains numbers, upper and lower case letters. Please send an email to the address provided in the legal notice if you cannot read the captcha.",
		"imprint": "Imprint",
		"captcha-text": "Captcha text",
		"next": "Next",
		"cancel": "Cancel"
	}
}
</i18n>