<template>
	<center class="my-4">
		<img class="mb-4" src="~Main/img/icon.svg" style="width:12rem">
		<h1 class="h4 mb-3 font-weight-normal">{{$t('reset-password')}}</h1>
		<div class="form-signin">
			<warning-list v-if="warnings" :warnings="warnings"/>
			<p>{{$t('password-strength')}}</p>
			<div>
				<label class="sr-only" for="password">{{$t('password')}}</label>
				<input class="password form-control" type='password' :placeholder="$t('new-password')" name='password' v-model="password" :class="{'is-invalid':!$v(password,true,$consts.REGEX_PASSWORD)}"/>
				<input class="password form-control" type='password' :placeholder="$t('confirm-password')" name='password' v-model="passwordConfirm" :class="{'is-invalid':!$v(passwordConfirm,true,$consts.REGEX_PASSWORD) || password!=passwordConfirm}"/>
				<button v-if="!confirm" class="mt-3 btn btn-lg btn-primary btn-block" v-on:click="save()">{{$t('save')}}</button>
			</div>
			<div v-if="confirm" class="my-3 alert alert-info">{{$t('confirm-reset')}}</div>
		</div>
		<br>
	</center>
</template>

<script>
	import WarningList from 'Main/components/WarningList.vue';
	import store from 'Main/js/store.js';

	export default {
		name:"login",
		components: {WarningList},
		data: function() {
			return {
				username:'',
				password:'',
				passwordConfirm:'',
				email:'',
				ticket:'',
				warnings:[],
				confirm:false
			}
		},
		mounted: function() {
			this.email=decodeURIComponent(this.$route.params.email);
			this.ticket=this.$route.params.ticket;
		},
		methods: {
			save: function() {
				this.$axios.post('main/reset-confirm', {
					passwordNew:this.password, passwordConfirm:this.passwordConfirm, email:this.email, ticket:this.ticket}).then(response=> {
					if (response.data[0]) {
						this.warnings=response.data;
					}
					else {
						//this.$router.push({name:'main-login'});
						this.warnings=[];
						this.confirm=true;
					}
				});
			},
		}
	}
</script>

<style src="Main/css/signin.css"/>





<i18n>
{
	"de": {
		"reset-password": "Passwort neu setzen",
		"password-strength": "Das Passwort muss mindestens eine Zahl, einen Groß- und einen Kleinbuchstaben enthalten und außerdem eine Länge von wenigstens 8 Zeichen besitzen.",
		"password": "Passwort",
		"new-password": "Neues Passwort",
		"confirm-password": "Wiederholung Passwort",
		"save": "Speichern",
		"confirm-reset": "Ihr Passwort wurde erfolgreich zurückgesetzt."
	},
	"en": {
		"reset-password": "Reset password",
		"password-strength": "The password must contain at least one number, one uppercase and one lowercase letter and must also have a length of at least 8 characters.",
		"password": "Password",
		"new-password": "New password",
		"confirm-password": "Confirm password",
		"save": "Save",
		"confirm-reset": "Your password has been reset successfully."
	}
}
</i18n>
