<template >
	<div class="container-main" :data-theme="store.design" :style="{'padding-top': $config.fixNavbar ? '4em' : ''}">
		<navbar-top/>
		<navbar-bottom/>
		<transition mode="out-in" name="fade">
			<router-view/>
		</transition>
	</div>
</template>

<script>
	import NavbarTop from 'Main/components/NavbarTop.vue';
	import NavbarBottom from 'Main/components/NavbarBottom.vue';
	import store from 'Main/js/store.js';

	export default {
		name: 'app',
		metaInfo () {
			return {
				title: this.$config.pageTitle ? this.$config.pageTitle : '',
				meta: [
					{ property: 'author', content: this.$config.author ? this.$config.author : '' }
				]
			}
		},
		components: { NavbarTop, NavbarBottom },
		properties: ['allModules'],
		data: function() {
			return {
					store:store
			}
		},
		beforeMount() {
			//disable F5 for users beeing logged in
			window.addEventListener("beforeunload", event => {
				if (!store.user.login) return;
				event.preventDefault();
				event.returnValue = ""; // Chrome requires returnValue to be set.
			})
		},
		created() {
			//Set language for HTML-element
			document.documentElement.setAttribute('lang', this.$config.defaultLocale)
		}
	}
</script>

<style src="./node_modules/bootstrap-css-only/css/bootstrap.css"/>
<style src="Main/css/main.css"/>
