<template>
	<div class="container">
		<modal-info v-if="showLockedInfo" v-on:close="showLockedInfo=false">{{$t('page-restricted')}}</modal-info>
		<div class="row">
			<div class="col-md-6 col-lg-4" v-for="entry in menu">
				<div class="menu" v-if="entry.lock" v-on:click="showLockedInfo=true" style="opacity:0.5">
					<menu-small-entry :entry="entry"/>
				</div>
				<router-link class="menu" v-if="entry.to && !entry.lock" :to="{name: entry.to, params: entry.params}">
					<menu-small-entry :entry="entry"/>
				</router-link>
				<a class="menu" v-if="entry.href && !entry.lock" :href="entry.href">
					<menu-small-entry :entry="entry" />
				</a>
			</div>
		</div>
	</div>
</template>

<script>
	import ModalInfo from './ModalInfo.vue';
	import MenuSmallEntry from './MenuSmallEntry.vue';
	import color from 'Main/js/color.js';
	export default {
		name: 'menu-small',
		props: [ 'menu'],
		components: {ModalInfo, MenuSmallEntry},
		data: function() {
			return {
				showLockedInfo:false,
			}
		},
		mounted: function() {color.setBgVar();},
		updated: function() {color.setBgVar();},
	}

</script>

<style scoped>
	a.menu {color:var(--fg-text) }
	a.menu:hover {text-decoration: none}
</style>


<i18n>
{
	"de": {
		"page-restricted": "Diese Seite steht nur berechtigten Benutzern zur Verfügung."
	},
	"en": {
		"page-restricted": "This page is only available to authorized users."
	}
}
</i18n>