<template>
	<div class="container">
		<div class="d-none d-sm-block" id="menu-big-screen">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3  my-3" v-for="entry in menu" >
					<router-link class="card shadow text-center div-hover" style='height:100%' v-if="entry.to" :to="{name:entry.to}">
						<div class="card-img-right p-2 rounded-top bg-var">
							<img :src="entry.icon" style='height:8em;filter:invert(1);'>
						</div>
						<div class="card-body">
							<h2 class="h3">{{entry.title}}</h2>
							<p>{{entry.text}}</p>
						</div>
					</router-link>
				</div>
			</div>
		</div>
		<div class="d-xs-block d-sm-none" id="menu-small-screen">
			<div class="my-3" v-for="entry in menu">
				<router-link class="card shadow flex-row d-md-none div-hover " v-if="entry.to" :to="{name:entry.to}">
					<div class="card-body py-2">
						<h2 class="h4">{{entry.title}}</h2>
						<p>{{entry.text}}</p>
					</div>
					<div class="card-img-right p-1 rounded-right bg-var" style="min-width:6em">
						<span style="height:100%;display:inline-block;vertical-align: middle"/>
						<img :src="entry.icon" style='width:5em;display:inline-block;vertical-align: middle;filter:invert(1)'>
					</div>
				</router-link>
			</div>
		</div>
	</div>
</template>

<script>
	import color from 'Main/js/color.js';
	export default {
		name: 'menu-huge',
		props: [ 'menu'],
		mounted: function() { this.setBgVar() },
		updated: function() { this.setBgVar() },
		methods: {
			setBgVar:function() {
				color.setBgVar(document.getElementById('menu-big-screen'));
				color.setBgVar(document.getElementById('menu-small-screen'));
			}
		}
	}
</script>


<i18n>
{
	"de": {},
	"en": {}
}
</i18n>
