<template>
	<div class="modal-mask">
		<div class="modal-wrapper">
			<div v-if="width>0" class="card" :style="'width:'+width+'px;'">
				<div class="card-header">
					<slot name="header"></slot>
					<button class="close text-white p-0 m-0" type="button" v-on:click="$emit('close')"><span>&times;</span></button>
				</div>
				<div class="card-body bg-white">
					<slot></slot>
				</div>
				<div class="card-footer bg-light">
					<slot name="footer">
						<button class="btn btn-secondary" v-on:click="$emit('close')">{{$t('cancel')}}</button>
						<button class="btn btn-primary mr-1" v-on:click="$emit('accept')">{{$t('accept')}}</button>
					</slot>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name:"modal-dialog",

		data: function() {
			return {
				width:0,
			}
		},
		created() {
  			const onEscape=(e)=> {
				if (e.keyCode===27) { this.$emit('close') }
  			}
  			document.addEventListener('keydown', onEscape)
  			this.$once('hook:destroyed', () => {
				document.removeEventListener('keydown', onEscape)
  			})
		},
		mounted: function() {
			window.addEventListener('resize', this.setSize);
			this.setSize();
		},
		destroyed() {
			window.removeEventListener("resize", this.setSize);
		},
		methods: {
			setSize: function() {
				this.width=Math.min(800,window.innerWidth-10);
			}
		}
	}
</script>

<style scoped src='../css/modal.css'/>


<i18n>
{
	"de": {
		"cancel": "Abbrechen",
		"accept": "Übernehmen"
	},
	"en": {
		"cancel": "Cancel",
		"accept": "Accept"
	}
}
</i18n>
