<template>
	<modal-dialog v-on:close="$emit('close')" v-on:accept="$emit('accept',tan)">
		<template v-slot:header>{{$t('confirmation')}}</template>
		<div class="card-body bg-white">
			<div class="info">{{$t('tan-info')}}</div>
			<input class="form-control" v-model='tan'/>
			<slot></slot>
		</div>
	</modal-dialog>
</template>

<script>
	import ModalDialog from "./ModalDialog.vue";
	export default {
		components: {ModalDialog},
		name: 'modal-confirm',
		data: function() {
			return {
				tan:''
			}
		},
		mounted() {
			this.tan='';
			this.$axios.get('main/tan-request');
		}
	}
</script>


<i18n>
{
	"de": {
		"confirmation": "Bestätigung erforderlich",
		"tan-info": "Zur Bestätigung dieser Aktion ist ein Bestätigungscode notwendig. Bitte prüfen Sie Ihr E-Mail Postfach und geben Sie den Code ein."
	},
	"en": {
		"confirmation": "Confirmation required",
		"tan-info": "A confirmation code is required to confirm this action. Please check your e-mail inbox and enter the code."
	}
}
</i18n>
