<template>
	<nav class="navigation navbar navbar-expand-md navbar-dark navbar-top justify-content-between" :class="{'fixed-top':$config.fixNavbar  }">
		<a class="navbar-brand" v-if="$config.urlHome" :href="$config.urlHome">
			<img src="../img/home.svg" style="height:2em;filter:invert(0.9)">
		</a>
		<router-link class="navbar-brand" v-else to="/">
			<img src="../img/home.svg" style="height:2em;filter:invert(0.9)">
		</router-link>
		<button class="navbar-toggler" type="button" v-on:click="collapsed=!collapsed" data-toggle="collapse" data-target="#mainNavbar">
			<span class="navbar-toggler-icon"/>
		</button>
		<div :class="{'collapse':true, 'navbar-collapse':true, 'show':!collapsed}" id="mainNavbar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" v-for="item in navLinks">
					<router-link @click.native="collapsed=true" class="nav-link" :to="{ name: item.to }">{{item.title[$i18n.locale]}}</router-link>
				</li>
			</ul>
			<ul class="nav navbar-nav mr-sm-2">
				<li class="nav-item">
					<a class="nav-link" v-on:click="collapsed=true;showModalSettings=true">{{ $t("settings") }}</a>
				</li>
				<li class="nav-item dropdown" v-if="store.user.login">
					<a class="nav-link dropdown-toggle"  v-on:click="showUserDropDown=!showUserDropDown">{{store.user.name}}</a>
					<div :class="'dropdown-menu '+(showUserDropDown?'show':'')">
						<router-link class="dropdown-item" @click.native="collapsed=true;showUserDropDown=false" :to="{name:'main-profile'}">{{$t('menu-profile')}}</router-link>
						<router-link class="dropdown-item" @click.native="collapsed=true;showUserDropDown=false" v-if="store.user.hasRole('admin')" :to="{name:'main-admin'}">{{$t('menu-administration')}}</router-link>
						<a class="dropdown-item"  v-on:click="collapsed=true;showInfo();showUserDropDown=false">{{ $t("menu-info") }}</a>
						<router-link class="dropdown-item" @click.native="collapsed=true;showUserDropDown=false" :to="{name:'main-logout'}">{{$t('menu-logout')}}</router-link>
					</div>
				</li>
				<li class="nav-item" v-else>
					<router-link class="nav-link" @click.native="collapsed=true;" :to="{name:'main-login'}">{{$t('menu-login')}}</router-link>
				</li>
			</ul>
		</div>
		<modal-settings v-if="showModalSettings" v-on:close="showModalSettings=false"></modal-settings>
		<modal-info v-if="showModalInfo" v-on:close="showModalInfo=false">
			<table class="table">
				<tr><th>{{$t('info-name')}}</th><td>{{info.name}}</td></tr>
				<tr><th>{{$t('info-version')}}</th><td>{{info.version}}</td></tr>
				<tr><th>{{$t('info-author')}}</th><td>{{$config.author}}</td></tr>
			</table>
		</modal-info>
	</nav>
</template>

<script>
import store from '../js/store.js';
import ModalSettings from './ModalSettings.vue';
import ModalInfo from './ModalInfo.vue';

export default {
	name: 'navbar-top',
	props: { },
	components: {ModalSettings,ModalInfo},
	data: function() {
		return {
			store:store,
			info:{},
			showUserDropDown:false,
			showModalSettings:false,
			showModalInfo:false,
			collapsed:true,
			navLinks:[]
		}
	},
	watch: {
		showUserDropDown: function() {
			if (this.showUserDropDown==true) {
				setTimeout( () => { this.showUserDropDown=false; }, 10000);
			}
		},
		collapsed: function() {
			if (this.collapsed==false) {
				setTimeout( () => { this.collapsed=true; }, 10000);
			}
		}
	},
	methods: {
		showProfile: function() {
			this.showUserDropDown=false;
			this.$router.push({ name: 'main-profile' });
		},
		showInfo: function()  {
			this.$axios.get('main/info').then(response=> {
				this.info=response.data.info;
				this.showModalInfo=true;
			} );
		}
	},
	mounted: function() {
		if (this.navLinks.length<1) {
			for (var mod of this.$config.allModules) {
				if (mod.meta.nav) {
					this.navLinks.push({title:mod.meta.title, to:mod.meta.to });
				}
			}
		}
	}
}
</script>

<style scoped>
</style>


<i18n>
{
	"de": {
		"settings": "Einstellungen",
		"menu-profile": "Mein Profil",
		"menu-administration": "Verwaltung",
		"menu-logout": "Abmelden",
		"menu-login": "Anmelden",
		"menu-info": "Information",
		"info-name": "Anwendung",
		"info-version": "Version",
		"info-author": "Author",
		"info-contact": "Kontakt"
	},
	"en": {
		"settings": "Settings",
		"menu-profile": "My profile",
		"menu-administration": "Management",
		"menu-logout": "Logout",
		"menu-login": "Login",
		"menu-info": "Information",
		"info-name": "Application",
		"info-version": "Version",
		"info-author": "Author",
		"info-contact": "Contact"
	}
}
</i18n>
