<template>
	<div class="modal-mask">
		<div class="modal-wrapper">
			<div class="card" style="width:50%">
				<p class="text-center p-3">{{text}}</p>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['text'],
		name:"short-overlay",
		data: function() {
			return {
				timer:null
			}
		},
		created() {
  			const onEscape=(e)=> {
				if (e.keyCode===27) { this.$emit('close') }
  			}
  			document.addEventListener('keydown', onEscape)
  			this.$once('hook:destroyed', () => {
				document.removeEventListener('keydown', onEscape)
  			})
		},
		mounted: function() {
			if (this.timer) clearTimeout(this.timer);
			this.timer=window.setTimeout(this.close , 1000);
		},
		watch: {
			text: function() {
				if (this.timer) clearTimeout(this.timer);
				this.timer=window.setTimeout(this.close , 1000);
			}
		},
		methods: {
			close: function() {
				this.$emit('close');
			}
		},
		destroyed() {
			window.removeEventListener("resize", this.setSize);
		}
	}
</script>

<style scoped src='../css/modal.css'/>
