<template>
	<div class="container my-3 alert-primary alert">
		<span v-if="msg">{{msg}}</span>
		<span v-else="msg">{{$t('please-wait')}}</span>
		<div class="text-center">
			<img src='../img/wait.svg' :style="'width:64px;transform: rotate('+angle+'deg)'">
		</div>
	</div>
</template>

<script>
	export default {
		props: ['msg'],
		data: function() {
			return {
				angle:0
			}
		},
		mounted: function() {
			setInterval(this.rotate,100);
		},
		methods: {
			rotate: function() {
				this.angle=(this.angle+5)%360;
			}
		}
	}
</script>


<i18n>
{
	"de": {
		"please-wait": "Einen Moment bitte..."
	},
	"en": {
		"please-wait": "Please wait..."
	}
}
</i18n>